body {
    padding: 2em; 
  }
.header >ul{
   display: flex;
   justify-content: center;
   margin: .7rem;
   list-style-type: none;
}
.header >ul >li >a{
   text-decoration: none;
   letter-spacing: 1.5px;
   color: #fff;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 22px 18px;
   transition: .7s;
   text-align: center;
}
.header >ul >li >a:hover{
   background: rgba(255, 255, 255, 0.192);
 }
 .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1 100%;
  }
  
  .header {
    background: rgb(235, 84, 57);
  }
  
  .footer {
    background: rgb(89, 214, 89);
  }
  
  .main {
    text-align: left;
    background: rgb(3, 171, 228);
  }
  
  .aside-1 {
    background: rgb(230, 196, 3);
  }
  
  .aside-2 {
    background: rgb(235, 89, 162);
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }
  @media all and (max-width: 538px){

    .header >ul{

       flex-direction: column;
       padding: 0;
       font-size: .9rem;
    }
    .header >ul >li{
        padding: .8rem 0;

    }
    .header >ul >li >a:hover{
        background: rgba(255, 255, 255, 0);
      }
      

  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
 